<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {# <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>"> #}
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/blackjack.css') }}">
        {% endblock %}
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="{{ path('projHome') }}">Spela</a></li>
                <li><a href="{{ path('projAbout') }}">About</a></li>
                <li><a href="{{ path('projApi') }}">Api</a></li>
                <li><a href="{{ path('projSession') }}">Session</a></li>
            </ul>
        </nav>
    <div class="table">
        {% block body %}{% endblock %}
    </div>
        {% include 'blackjack/footer.html.twig' %}
</body>

</html>