{% extends "blackjack/base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block body %}
<div class="table-top">
    <div class="deckBlackJack">
            {% for card in bankCard %}
                {% set symbol = card|slice(1) %}
                <p class="card {% if symbol == '♥' or symbol == '♦' %}red-bank{% else %}black-bank{% endif %}">
                    {{ card }}
                </p>
            {% endfor %}
    </div>
    <h3>{{ bankPoints }}</h3>
</div>
{{ include('flash.html.twig') }}
<a href="{{ path('projStart') }}"><button type="submit" class="place_bet">Spela igen</button></a>
<h2>Spelchips kvar: {{ chipsLeft }}<a href="{{ asset('img/poletter.jpeg') }}">
        <img src="{{ asset('img/poletter.jpeg') }}" alt="Poletter">
    </a></h2>
<div class="table-bottom">
    <div class="hand">{% if '1' in betId %}<h3>Bet: {{ amountBet[0] }}<img src="{{ asset('img/poletter.jpeg') }}" alt="Poletter"></h3>
       <div class="deckBlackJack">
            {% for card in hand[0] %}
                {% set symbol = card|slice(1) %}
                <p class="card {% if symbol == '♥' or symbol == '♦' %}red{% else %}black{% endif %}">
                    {{ card }}
                </p>
            {% endfor %}
        </div>
        <h3>Points: {{ points[0] }}
        {% endif %}
    </div>
    <div class="hand">{% if '2' in betId %}<h3>Bet: {{ amountBet[1] }}<img src="{{ asset('img/poletter.jpeg') }}" alt="Poletter"></h3>
        <div class="deckBlackJack">
            {% for card in hand[1] %}
                {% set symbol = card|slice(1) %}
                <p class="card {% if symbol == '♥' or symbol == '♦' %}red{% else %}black{% endif %}">
                    {{ card }}
                </p>
            {% endfor %}
        </div>
        <h3>Points: {{ points[1] }}
    {% endif %}
    </div>
    <div class="hand">{% if '3' in betId %}<h3>Bet: {{ amountBet[2] }}<img src="{{ asset('img/poletter.jpeg') }}" alt="Poletter"></h3>
        <div class="deckBlackJack">
            {% for card in hand[2] %}
                {% set symbol = card|slice(1) %}
                <p class="card {% if symbol == '♥' or symbol == '♦' %}red{% else %}black{% endif %}">
                    {{ card }}
                </p>
            {% endfor %}
        </div>
        <h3>Points: {{ points[2] }}
    {% endif %}
    </div>
</div>
{% endblock %}