{% extends "base.html.twig" %}

{% block title %}Card Game{% endblock %}

{% block main %}
<div class="game_21">
    <h1>Card Game 21</h1>
    <a href="{{ asset('img/flodesschema.png') }}">
        <img src="{{ asset('img/flodesschema.png') }}" alt="Flödesschema">
    </a>
    <a href="{{ asset('img/psudokod.png') }}">
        <img src="{{ asset('img/psudokod.png') }}" alt="Flödesschema">
    </a>
    
    <h1>Klasser</h1>
    <p>De 3 klasser jag använde är samma som de tidigare kmom. <br>Samt en nyskapad klass för spelet funktion.<br><br>Card:<br>Skapar grunden för alla korten med värdena 1-A.<br><br>CardGraphics:<br>Skapar valören på korten exempel hjärter.<br><br>DeckOfCards:<br>Skapar ett deck med kort med hjälp av båda de andra klasserna för att skapa ett kort med både värde och valör.<br><br>Card21Game:<br>Klass för själva spelet. Räknar poäng för både spelare och banken. Kollar ifall speelt är slut. </p>
    <a href="{{ path('game21api') }}"><button class ="game_start">Spela kortspel 21</button></a>
</div>
{% endblock %}
